<div class="fluid-container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <h1>{{ title }}</h1>
            <form action="/update" method="POST">
                <input type="hidden" name="id" value="{{ element._id }}">
                <div class="form-group">
                    <label for="title">T&iacute;tulo:</label>
                    <input type="text" class="form-control" name="title" id="title" placeholder="Introduzca el t&iacute;tulo" value="{{element.title}}">
                </div>
                <div class="form-group">
                    <label for="description">Descripci&oacute;n</label>
                    <textarea name="description" id="description" cols="30" rows="10" class="form-control"> {{ element.description }} </textarea>
                </div>
                <button type="submit" class="btn btn-lg btn-primary">Editar</button>
            </form>
        </div>
    </div>
</div>