<div class="fluid-container">
  <div class="row">
    <div class="col-sm-12">
      {{#if success}}
        <section class="alert alert-success">
          <h2>Elemento guardado satisfactoriamente!</h2>
        </section>
      {{else}}
        {{#if errors}}
          <section class="alert alert-danger">
            {{#each errors}}
              <li> {{ this.msg }} </li>
            {{/each}}
          </section>
        {{else}}
          <a href="create" class="btn btn-success" role="button">Nuevo</a>
          <div class="table-responsive">
            <table class="table table-striped" id="elements-list">
              <thead>
                <tr>
                  <th>T&iacute;tulo</th>
                  <th>Descripci&oacute;n</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
              {{#each items}}  
                <tr>
                  <td> {{this.title}} </td>
                  <td> {{ this.description }} </td>
                  <td>
                    <a href="/edit/{{this._id}}" class="btn btn-primary" role="button">Editar</a>
                    <form action="/delete" method="POST">
                      <input type="hidden" name="id" value="{{ this._id }}">
                      <button class="btn btn-danger" role="button">Eliminar</button>
                    </form>
                  </td>
              {{/each}}
              </tbody>
            </table>
          </div>        
        {{/if}}
      {{/if}}

    </div>
  </div>
</div>