body {
  padding-top: 40px;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#elements-list {
  margin-top: 20px;
}

#elements-list form {
  display: inline-block !important;
}

#elements-list > tbody > tr > td:nth-child(1), #elements-list > tbody > tr > td:nth-child(2) {
  padding-top: 15px;
}